<section id="pokelist">
  <table class="table">
    <thead>
      <th *ngFor="let header of headers">
         {{ header }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemon$ | async">
        <td (click)="showDetails(pokemon)">{{ pokemon.id }}</td>
        <td (click)="showDetails(pokemon)">
          <img [src]="pokemon.sprites.front_default" />
        </td>
        <td (click)="showDetails(pokemon)">{{ pokemon.name }}</td>
        <td (click)="showDetails(pokemon)">{{ pokemon.height }}</td>
        <td (click)="showDetails(pokemon)">{{ pokemon.weight }}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="paginator-wrapper">
    <pagination [totalItems]="totalPokemon" 
                [maxSize]="7"
                [itemsPerPage]="itemsPerPage"
                (pageChanged)="changePage($event)"></pagination>
  </div>
</section>