nav {
    height: 100%;
    background: #2d2e83;
    padding: 0 25% 0 25%;
    border-radius: 15px;
    text-decoration: none;

    & img {
        float: left;
        max-width: 220px;
    }

    & a {
        min-height: 15%;
    }
}

.nav-item {
    &:hover {
        /* Find cool hover effect for nav bar */
    }
}

.navbar-brand {
    padding: 0;
    margin: 0 auto;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50%;
}

.showpad-logo {
    transform: rotate(270deg);
    filter: invert(1);
}

.pokeball-logo {
    min-width: 55px;
    margin-top: 15%;
    max-width: 90px!important;
}

.navigator-image {
    max-width: 50px!important;
    padding-top: 5%;
    filter: invert(1);
}

.navigator-button {
    font-size: 2.5rem;
    color:white; 
}

ul {
    height: 100%
}
