.poke-moves-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 250px;
    margin-top: 4%;
}

.move {
    width: 30%;
    height: 20%;
    text-align: right;
    text-align: -webkit-right;
    border-radius: 7px;
    margin: 0 1% 2% 1%;
    padding: 1%;
    min-width: 145px;
    text-align: center;

    &.black {
        background: black;
        color: white;
    }
    
    &.blue {
        background: blue;
        color: white;
    }
    
    &.brown {
        background: brown;
        color: white;
    }
    
    &.gray {
        background: gray;
        color: white;
    }
    
    &.green {
        background: green;
        color: white;
    }
    
    &.pink {
        background: pink;
        color: white;
    }
    
    &.purple {
        background: purple;
        color: white;
    }
    
    &.red {
        background: red;
        color: white;
    }
    
    &.white {
        background: white;
        color: black
    }
    
    &.yellow {
        background: yellow;
        color: black
    }
}

@media screen and (min-width: 1790px) and (max-width: 1902px) {
    .move {
        min-width: none;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1544px) {
    .poke-moves-wrapper {
        max-height: 200px;
    }
}

@media screen and (min-width: 1298px) and (max-width: 1500px) {
    .poke-moves-wrapper {
        max-height: 222px;
    }

    .move {
        min-width: 145px;
    }
}

@media screen and (min-width: 1272px) and (max-width: 1298px) {
    .move {
        width: 30%;
        min-width: 136px;
    }
}

