<section>
    <div class="details-card-wrapper">
        <figure class="pokemon-details" 
                [ngClass]="habitat"
                *ngIf="(pokemonInDetail$ | async) && showDetails">
            <div class="row">
                <div class="col">
                    <div class="order-wrapper">
                        #{{ (pokemonInDetail$|async)?.order }}
                    </div>
                </div>
                <div class="col">
                    <p *ngIf="isBaby">baby</p>
                    <p *ngIf="isLegendary">legend</p>
                    <p *ngIf="isMythical">myth</p>
                </div>
                <div class="col">
                    <div class="actions-bar">
                        <img [src]="starImgRoot" 
                             class="action-button" 
                             [ngClass]="starActive"
                             (click)="toggleWishlisted()"/>
                        <img [src]="pokeballImgRoot" 
                             class="action-button" 
                             [ngClass]="pokeballActive"
                             (click)="toggleCaptured()"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <img [src]="mainImage" class="main-image"/>
                </div>
                <div class="col">
                    <div class="image-holder-wrapper">
                        <div class="image-holder">
                            <img *ngFor="let image of images$ | async" 
                                 [src]="image" 
                                 class="thumbnail"
                                 (click)="changeMainImage(image)"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <figcaption class="pokemon-name">
                        {{ (pokemonInDetail$|async)?.name | titlecase }}
                    </figcaption>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <tabset class="pokemon-attributes">
                        <tab [heading]="statsHeader"
                             [active]="statsActive"
                             (selectTab)="statsActive = true">
                           <poke-stats [stats$]="stats$"></poke-stats>
                        </tab>
                        <tab [heading]="movesHeader"
                             [active]="movesActive"
                             (selectTab)="movesActive = true">
                           <poke-moves [moves$]="moves$"
                                       [color]="color"></poke-moves>
                        </tab>
                        <tab [heading]="othersHeader"
                             [active]="othersActive"
                             (selectTab)="othersActive = true">
                           <poke-others [species$]="species$"
                                        [baseExperience]="baseExperience"></poke-others>
                        </tab>
                     </tabset>
                </div>
            </div>
        </figure>
        <figure class="no-details" *ngIf="noDetail">
            <figcaption class="no-detail-placeholder">
                <img [src]="placeholderStar" />
                <p>Pick a pokemon from the list on the left</p>
            </figcaption>
        </figure>
    </div>
</section>