#pokelist {
    height: 75vh;
    overflow-x: hidden;
}

.pokeTable {
    width: 100%;
    background-color: white;
}

.pokeTableCell {
    color: black;
}

.mat-header-row {
    position: sticky;
    top: 0;
    min-height: 30px;
    max-height: 30px;
    background: white;
}

.mat-header-cell {
    color: black;
}

.paginator-wrapper {
    padding: 3% 15% 0 15%;
}

.page-link {
    border: none!important;
}

.pagination-page,
.pagination-prev,
.pagination-next {
    padding: 5px;
}

tr {
    cursor: pointer;
}

