<section id="pokelist">
  <table class="table">
    <thead>
      <th *ngFor="let header of headers">
         {{ header }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemon$ | async">
        <td>
          <img [src]="pokemon.sprites.front_default" />
        </td>
        <td>{{ pokemon.name }}</td>
        <td>{{ pokemon.height }}</td>
        <td>{{ pokemon.weight }}</td>
      </tr>
    </tbody>
  </table>
</section>
<pagination [totalItems]="totalPokemon" [maxSize]="7"></pagination>